mat-toolbar .spacer {
    flex: 1 1 auto;
  }
  
  mat-toolbar .user-info {
    display: flex;
    align-items: center;
  }
  
  mat-toolbar .user-info button {
    margin-left: 1.5rem;
  }
  
  .icon {
    vertical-align: middle;
    margin-right: 5px;
    color: blue;
  }
  